<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="Pessoa" class="exemplo.spring.Pessoa">
		<property name="nome" value="Lindomar"></property>
		<property name="idade" value="19"></property>
		<property name="sexo" value="M"></property>
		<property name="salario" value="500"></property>
	</bean>
	
	<bean id="Usuario" class="exemplo.spring.Usuario">
		<constructor-arg value="kamup"/>
		<constructor-arg value="kamup92"/>
		<constructor-arg value="452622"/>
	</bean>
	
</beans> 	
